<ng-container class="route-input__inputs" *ngFor="let routeLocation of addresses">
  <ng-container [ngSwitch]="routeLocation.type">
    <!-- 3 is ROUTE.NONE; for database dogs -->
    <ng-container *ngSwitchCase="3">
      <div class="route-input__inputs_dog">
        <span class="dog--name">{{routeLocation.name}}</span>
        <span class="dog--address">{{routeLocation.address | address: 'suburb'}}</span>
        <span class="dog--owner">{{routeLocation.owner}}</span>
      </div>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <app-address-input class="address_input" [type]="routeLocation.type" (address)="addressSet($event)">
      </app-address-input>
    </ng-container>
  </ng-container>
</ng-container>

<div class="route-input__addWaypoint displayNone" [ngClass]="{'displayFlex': showAddWaypoint}">
  <button (click)="addRouteWaypoint()">
    <mat-icon class="route-input__addWaypoint--icon">add_circle_outline</mat-icon>
  </button>
  <div class="route-input__addWaypoint__text">
    <div class="route-input__addWaypoint__text--content">Add {{componentType | routeString | titlecase}}</div>
  </div>
</div>
<div class="route-input__findRoute displayNone" [ngClass]="{'displayFlex': showFindRoute}">

  <mat-slide-toggle checked="false" (toggleChange)="showDatePicker = !showDatePicker">Select Route Time</mat-slide-toggle>
  <div *ngIf="showDatePicker" class="route-input__findRoute__datePicker">
    <app-time-date-form (timeDate)="printRoute($event)"></app-time-date-form>
  </div>

  <mat-slide-toggle checked="true" (toggleChange)="optimizeRoute()">Optimize Route</mat-slide-toggle>

  <button mat-raised-button color="primary" [disabled]="showDatePicker && !validRoute" (click)="getRoute()">Get
    Route</button>
</div>