<ng-container *ngFor="let routeType of addresses">
  <app-address-input class="autocomplete" [type]="routeType" (setAddress)="addressSet($event)">
  </app-address-input>
</ng-container>

<div class="footer">
  <button (click)="addRouteWaypoint()">
    <mat-icon class="icon">add_circle_outline</mat-icon>
  </button>
  <div class="addWaypointContainer">
    <div class="addWaypointContent">Add {{componentType | routeString | titlecase}}</div>
  </div>
</div>
<span *ngIf="showAddWaypoint">Show</span>
<div class="footer-button">
  <button mat-raised-button color="primary" (click)="getRoute()">Find Optimal Route</button>
</div>
