.footer {
  display: flex;
  margin-top: 20px;
  width: 100%;
}
.footer-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
.icon:active {
  background: rgba(204, 101, 5, 0.668);
  border-radius: 50%;
}
.addDestinationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.addDestinationContent {
  color: gray;
  margin-left: 10px;
}
.autocomplete {
  margin: 0;
  padding: 0;
}
