.route-input__addWaypoint {
  display: flex;
  margin-top: 20px;
  width: 100%;
}

.route-input__addWaypoint button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.route-input__addWaypoint--icon:active {
  background: rgba(204, 101, 5, 0.668);
  border-radius: 50%;
}

.route-input__addWaypoint__text {
  align-items: center;
  cursor: default;
  display: flex;
  justify-content: center;
}
.route-input__addWaypoint__text--content {
  color: gray;
  margin-left: 10px;
}

.route-input__findRoute {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

.route-input__findRoute button {
  margin-top: 20px;
}

.route-input__findRoute mat-slide-toggle {
  align-self: flex-start;
  margin-top: 20px;
}

.route-input__findRoute__datePicker {
  display: flex;
  align-items: center;
  justify-content:center;
}

.address_input {
  margin: 0;
  padding: 0;
  width: 100%;
}

.route-input__inputs_dog {
  border: 3px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  padding: 5px 0 5px 15px;
}

.dog--name {
  font-size: 1em;
}
.dog--address {
  font-size: 0.9em;
}

.dog--owner {
  font-size: 0.7em;
}

.displayNone {
  display: none;
}
.displayFlex {
  display: flex;
}
