.route-input__addWaypoint {
  display: flex;
  margin-top: 20px;
  width: 100%;
}

.route-input__addWaypoint button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.route-input__addWaypoint--icon:active {
  background: rgba(204, 101, 5, 0.668);
  border-radius: 50%;
}

.route-input__addWaypoint__text {
  align-items: center;
  cursor: default;
  display: flex;
  justify-content: center;
}
.route-input__addWaypoint__text--content {
  color: gray;
  margin-left: 10px;
}

.route-input__findRoute {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.inputs__input {
  margin: 0;
  padding: 0;
  width: 100%;
}

.displayNone {
  display: none;
}
.displayFlex {
  display: flex;
}
