<div class="side-bar" [ngSwitch]="sideBarDisplay">
  <!-- Google Maps Directions get displayed here when a route is found -->
  <div class="directionsPanel"></div>
  <ng-container *ngSwitchCase="'route-input'">
    <div class="side-bar__route-input">
      <app-route-input (routeAdded)="routeAdded($event)"></app-route-input>
    </div>
  </ng-container>
  <ng-container *ngFor="let dog for databaseRoutes">
    {{dog| json}}
  </ng-container>

  <ng-container *ngSwitchCase="'address-list'">

    <mat-selection-list #addresses>
      <mat-list-option *ngFor="let address of addressList | async">
        <mat-icon svgIcon="dog" matListIcon></mat-icon>
        {{address}}
      </mat-list-option>
    </mat-selection-list>
    <p *ngIf="addressList | async">
      Dogs Picked Up: {{addresses.selectedOptions.selected.length}}
    </p>
    <div class="side-bar__address-list__new-route">
      <button mat-raised-button color="primary" (click)="newRoute()">Plan
        New Route
      </button>
    </div>
  </ng-container>

</div>