:host .user-dialog {
  width: fit-content;
  max-width: 90vw;
  height: 100%;
  max-height: 90vh;
}

mat-form-field {
  width: 100%;
  height: 100%;
  margin: 0;
}

.footer {
  display: flex;
  flex-wrap: nowrap;
  // height:
}

.footer button {
  flex-grow: 0.2;
}
