#map {
  height: 100%;
  width: 80vw;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.footer {
    position: absolute;
    float: right;
    width: 78%;
    right: 10px;
    bottom: 10px;
    background: white;
    padding: 5px;
}

.footer>.span {
    margin: 0;
}
